body {
  background-color: whitesmoke;
}
h1 {
  color: darkslateblue;
  text-align: center;
}
h2 {
    color:darkslateblue;
    text-align: left;
}
h3 {
    color:black;
    text-align:left;
}
p {
  color: black;
}
article {
    background-color: whitesmoke;
}
section {
    background-color: lightgray;
}
aside {
    background-color: lightgray;
}