body {
  background-color: whitesmoke;
}
h1 {
  color: darkslateblue;
  text-align: center;
}
p {
  color: black;
}
article {
    background-color: lightgray;
}
section {
    background-color: lightgray;
}
aside {
    background-color: lightgray;
}